.success-btn-wrapper {
	.btn-primary-true {
		border: 1px solid #c49073;
		padding: 12px 24px 12px 24px;
		border-radius: 4px;
		background: #c49073;
		font-weight: 600;
		color: #fff;
		line-height: 25.6px;
		font-size: 16px;
		letter-spacing: 0px;
		transition: 0.5s;
	}

	.btn-primary-true:hover {
		border: 1px solid #2ab7ac;
		background: #2ab7ac;
	}

	.btn-primary-true:focus {
		background: #c49073;
		border: 1px solid #c49073;
	}

	.btn-primary-true:focus-visible {
		background: #c49073;
		border: 1px solid #c49073;
	}

	.btn-primary-true.left-icon i {
		margin: 0 6px 0 0;
	}

	.btn-primary-true.right-icon i {
		margin: 0 0 0 6px;
	}
}
