.bg-profile {
	background: var(--green-light);
}

a.dropdown-item:hover {
	background-color: #f9f2ef !important;
}

.down-btn button {
	border: 1px solid var(--anti-flash-white);
	color: var(--Chinese-silver);
	font-size: var(--font-xx-small);
	line-height: var(--custom-line-height);
	font-weight: var(--weight-light);
	padding: 4px 8px;
	height: 32px;
	border-radius: 0;
	background: var(--text-white);
}

.down-btn button:hover {
	color: var(--Chinese-silver);
	background: var(--text-white);
	border: 1px solid var(--anti-flash-white);
}

.down-btn button::after {
	display: none;
}

.down-btn .btn.show {
	color: var(--Chinese-silver);
	background: var(--text-white);
	border: 1px solid var(--anti-flash-white);
}

.down-btn ul.dropdown-menu {
	box-shadow: 0px 4px 8px 0px #051b4414;
	border: none;
	padding: 0;
	border-radius: 0;
}

/* .down-btn ul.dropdown-menu li {
    box-shadow: 0px -1px 0px 0px #EDEFF5 inset;
} */

.down-btn ul.dropdown-menu li a {
	box-shadow: 0px -1px 0px 0px #edeff5 inset;
	padding: 8px 12px;
	font-size: var(--font-xx-small);
	font-weight: var(--weight-light);
	line-height: var(--custom-line-height);
}

.down-btn ul.dropdown-menu li a:hover {
	background-color: #ead4c7;
	padding: 8px 12px;
	color: var(--green-medium-2);
}

/*  */

.font-x-large22 {
	font-size: var(--font-x-s-large);
	line-height: 30.8px;
}

.card-acquired {
	background: #fcfcfc;
	border-radius: 8px;
	padding: 4px 8px;
	border: 1px solid var(--anti-flash-white);
}

/* Edit Profile page css */

.top-border {
	border-top: 1px solid #cccccc99;
}

/* .mar-top-min {
    margin-top: -8px;
} */

.save-pad {
	padding: 8px 20px;
}

.file-btn-upload {
	position: relative;
	cursor: pointer;
}

.file-up {
	width: 200px;
	position: absolute;
	z-index: 99;
	opacity: 0;
	height: 46px;
	cursor: pointer;
}

.form-fild {
	border: 1px solid #e0e0e0;
	padding: 15px 20px;
	border-radius: 4px;
	background: var(--text-white);
	color: var(--text-sonic-silver);
	font-size: var(--font-x-small);
	font-weight: var(--weight-light);
	outline: none;
	margin: 5px 0 0 0;
}

select.form-fild {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url('/images/arrow-down.png') no-repeat right center;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.line-hr {
	background: var(--anti-flash-white);
	height: 1px;
	border: none;
	opacity: 1;
}

.icon-fild .form-fild {
	padding-left: 40px;
}

.icon-fild {
	position: relative;
}

.icon-fild i {
	position: absolute;
	left: 15px;
	top: 25px;
	color: var(--Chinese-silver);
}

.green-medium-2 svg {
	margin-bottom: 2px;
	width: 24px;
}

.m-min-top {
	position: relative;
	bottom: 3px;
}

.input-radio {
	width: 20px;
	height: 20px;
	position: relative;
	top: 4px;
}

/* Reviews page css */

.card {
	border: 1px solid var(--anti-flash-white);
	border-radius: 8px;
	padding: 16px;
}

.star- {
	position: relative;
	top: -9px;
}

.pag-box {
	width: 100%;
	height: 8px;
	background: var(--anti-flash-white);
	border-radius: 8px;
}

.g-pag-box {
	width: 32px;
	height: 8px;
	background: var(--green-medium-1);
	border-radius: 8px;
}

.prog {
	width: 84%;
}

.w-10 {
	width: 10px;
}

.w-90 {
	width: 90%;
}

.h-110 {
	height: 110px;
}

.reply-box {
	padding-left: 20px;
	position: relative;
}

.reply-box::after {
	content: '';
	position: absolute;
	left: 10px;
	height: 100%;
	width: 1px;
	background-color: var(--Chinese-silver);
	top: 2px;
}

.m-w-141 {
	width: 141px;
	margin-bottom: 15px;
}

/* first time login user  */

.complete-profile-wrapper .top-title .left-content h1 {
	color: var(--green-dark);
	font-size: var(--font-x-s-large);
	font-weight: var(--weight-bold);
	line-height: 31px;
}

.complete-profile-wrapper .top-title .left-content p {
	font-size: var(--font-small);
	font-weight: var(--weight-light);
	line-height: var(--line-height-small);
	color: var(--text-sonic-silver);
}

.text-light-green {
	color: var(--green-medium-2);
}

.text-secondary {
	color: var(--Chinese-silver);
}

.datail-item svg {
	width: 20px;
	height: 20px;
}

.nav-tab ul li.active a.dropdown-item {
	border: none !important;
}
.dropdown-item:active {
	background-color: transparent !important;
}
