/* your-css-file.css */
.strong-password-popup {
	position: absolute;
	background-color: #ffffff; /* Background color for the popup */
	color: #fff; /* Text color for the popup */
	padding: 10px; /* Adjust padding as needed */
	border-radius: 5px; /* Rounded corners for the popup */
	z-index: 1; /* Ensure the popup appears above other elements */
	width: 250px; /* Adjust the width as needed */
	top: 100%; /* Position the popup below the input field */
	left: 0; /* Position the popup at the left edge of the input field */
	transform: translateY(5px); /* Add some vertical spacing */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow for depth */
	/* Additional styles as needed */
}

.strong-password-popup .success {
	color: #11af41;
}

.strong-password-popup .error {
	color: #f2180a;
}

.strong-password-popup i {
	margin-right: 0.5rem;
}
