.blogs-section {
	background-position: center;
	background: url('/images/Blogs/banner-image.jpg') no-repeat center;
	background-size: cover;
	padding: 100px 0px 40px;
}

.blogs-section h1 {
	font-size: var(--font-larger);
	font-weight: var(--weight-bold);
	line-height: var(--line-height-larger);
	letter-spacing: 0em;
	text-align: center;
	color: var(--text-white);
	padding-bottom: 20px;
}

.blogs-section h1 span {
	color: var(--green-medium-1);
}

.blogs-section p {
	font-size: var(--font-large);
	font-weight: var(--weight-light);
	line-height: var(--line-height-small-medium);
	letter-spacing: var(--letter-spacing-02);
	text-align: center;
	color: var(--anti-flash-white);
}

.tag-section {
	padding: 40px 0px;
}

.images-blog-text {
	padding-left: 15px;
}

.images-blog-text a.tags {
	width: 45px;
	height: 26px;
	padding: 0px 8px 0px 8px;
	border-radius: 8px;
	background-color: var(--green-light);
	font-size: var(--font-small);
	font-weight: var(--weight-semi-bold);
	line-height: var(--line-height-small) !important;
	letter-spacing: var(--letter-spacing-02);
	text-align: left;
	color: var(--green-medium-2);
}

.images-blog-text h2 {
	font-size: var(--font-smaller);
	font-weight: var(--weight-bold);
	line-height: var(--line-height-large);
	letter-spacing: 0em;
	text-align: left;
	color: var(--social-link);
	padding-top: 25px;
}

.images-blog-text p {
	font-size: var(--font-large);
	font-weight: var(--weight-medium);
	line-height: var(--line-height-small-medium);
	letter-spacing: var(--letter-spacing-02);
	text-align: left;
	padding-top: 25px;
	color: var(--text-sonic-silver);
}

.images-blog-text span {
	font-size: var(--font-medium);
	font-weight: var(--weight-medium);
	line-height: var(--line-height-high-rise);
	letter-spacing: var(--letter-spacing-02);
	text-align: left;
	color: #868686;
	display: block;
	padding-top: 25px;
	cursor: pointer;
}

.explore-blogs-title h3 {
	font-size: var(--font-xxx-large);
	font-weight: var(--weight-bold);
	line-height: var(--line-height-medium);
	letter-spacing: 0em;
	text-align: center;
	color: var(--color-black);
}

.all-type-of {
	padding: 50px 0px;
}

.all-type-of li {
	display: inline-block;
	border-radius: 100px;
	border: 1px solid var(--green-medium-2);
	padding: 10px 20px;
	transition: all 0.3s;
	margin-left: 15px;
	color: #c49073;
	cursor: pointer;
}

.all-type-of li:hover {
	background-color: var(--color-black-gray);
}

.all-type-of li a {
	font-size: var(--font-medium);
	font-weight: var(--weight-medium);
	line-height: var(--line-height-high-rise);
	letter-spacing: var(--letter-spacing-02);
	text-align: left;
	color: var(--green-dark);
}

li.first-active {
	color: var(--green-dark);
	background-color: #c4907352;
	border: 1px solid var(--color-black-gray);
	height: -webkit-fill-available;
}

.pagination-outer {
	text-align: center;
}

.pagination {
	display: inline-flex;
	margin-top: 5%;
	margin-bottom: 5%;
}

.page-item.active a.page-link {
	background: var(--color-black-gray);
	color: var(--green-dark);
}

.pagination li a.page-link {
	width: 40px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	border-radius: 12px;
	background: var(--text-white);
	border: none;
	font-size: 17px;
	font-weight: var(--weight-semi-bold);
	color: var(--green-dark);
	padding: 0;
	margin-right: 5px;
	position: relative;
	transition: all 0.3s ease 0s;
}

.page-item:first-child .page-link {
	border-radius: 50% !important;
	margin-right: 20px;
}

.page-item:last-child .page-link {
	border-radius: 50% !important;
	margin-left: 20px;
}

.page-link svg {
	width: 30px;
	padding: 5px;
	border-radius: 50% !important;
	margin-top: -4px;
}

@media (max-width: 991px) {
	.all-type-of li {
		margin-left: 6px;
		margin-top: 10px;
		font-size: var(--font-small);
	}
	.images-blog-text {
		padding-left: 0;
	}

	.blog-text-all {
		padding-top: 50px;
	}

	.blogs-section h1 {
		font-size: var(--font-xxx-large);
		line-height: 50px;
	}

	.blogs-section p {
		font-size: var(--font-medium);
	}

	.images-blog-text h2 {
		font-size: 30px;
		line-height: 40px;
		padding-top: 15px;
	}

	.images-blog-text p {
		font-size: var(--font-small);
		padding-top: 15px;
	}

	.images-blog-text span {
		font-size: var(--font-small);
		padding-top: 16px;
	}

	.explore-blogs-title h3 {
		font-size: var(--font-x-large);
		line-height: 40px;
	}

	.page-item:first-child .page-link {
		margin-right: 25px;
	}

	.page-item:last-child .page-link {
		margin-left: 25px;
	}

	.pagination li a.page-link {
		width: 35px;
		height: 35px;
		font-size: var(--font-small);
	}

	.page-link svg {
		width: 38px;
		margin-top: -10px;
	}

	.pagination {
		display: inline-flex;
		margin-top: 15%;
		margin-bottom: 15%;
	}

	.all-type-of li a {
		font-size: var(--font-small);
	}
}

/* blog page start */
.text-left-line ul li {
	display: inline-block;
	padding: 0px 2px;
}

.text-left-line a {
	font-size: var(--font-xx-small);
	font-weight: var(--weight-bold);
	line-height: var(--custom-line-height);
	letter-spacing: var(--letter-spacing-02);
	text-align: left;
	color: var(--green-medium-2);
}

a.unactive {
	font-size: var(--font-xx-small);
	font-weight: var(--weight-bold);
	line-height: var(--custom-line-height);
	letter-spacing: var(--letter-spacing-02);
	text-align: left;
	color: var(--Chinese-silver);
}

.text-left-line.text-start h1 {
	font-size: var(--font-larger);
	font-weight: var(--weight-bold);
	line-height: var(--line-height-larger);
	letter-spacing: 0em;
	text-align: left;
	color: var(--social-link);
	padding-top: 15px;
}

.by-author-name a {
	font-size: var(--font-medium);
	font-weight: var(--weight-bold);
	line-height: var(--line-height-high-rise);
	letter-spacing: var(--letter-spacing-02);
	text-align: left;
	color: var(--green-medium-2);
}

.by-author-name a span {
	color: var(--text-sonic-silver);
}

.by-author-name ul li {
	font-size: var(--font-small);
	font-weight: var(--weight-medium);
	line-height: var(--line-height-small) !important;
	letter-spacing: var(--letter-spacing-02);
	text-align: left;
	color: var(--text-sonic-silver);
	display: inline-block;
	align-items: center;
}

.by-author-name ul li:nth-child(2) {
	background-color: var(--text-sonic-silver);
	width: 5px;
	height: 5px;
	margin: 2px 10px;
	border-radius: 30px;
}

.blog-section-heading h2 {
	font-size: var(--font-smaller);
	font-weight: var(--weight-bold);
	line-height: var(--line-height-large);
	letter-spacing: 0em;
	text-align: left;
	color: var(--social-link);
	padding-bottom: 20px;
}

.blog-section-heading p {
	font-size: var(--font-small);
	font-weight: var(--weight-light);
	line-height: var(--line-height-small) !important;
	letter-spacing: var(--letter-spacing-02);
	text-align: left;
	color: var(--social-link);
	padding-bottom: 60px;
}

.blog-section-heading span {
	font-size: var(--font-x-small);
	font-weight: var(--weight-light);
	line-height: var(--line-height-xs-small);
	letter-spacing: var(--letter-spacing-02);
	text-align: left;
	color: var(--color-black);
	padding-top: 20px;
	padding-bottom: 10%;
}

.connect-title {
	max-width: 600px;
}

.btn-commn.bg-color {
	background-color: var(--button-1);
}

.connect-title h4 {
	font-size: var(--font-xx-large);
	font-weight: var(--weight-semi-bold);
	line-height: 45px;
	letter-spacing: 0em;
	text-align: left;
	color: var(--green-dark);
	padding-bottom: 10px;
}

.connect-title p {
	font-size: var(--font-large);
	font-weight: var(--weight-light);
	line-height: var(--line-height-small-medium);
	letter-spacing: var(--letter-spacing-02);
	text-align: left;
	color: var(--social-link);
	padding-bottom: 25px;
}

.blog-section-sub h3 {
	font-size: var(--font-xxx-large);
	font-weight: var(--weight-bold);
	line-height: var(--line-height-medium);
	letter-spacing: 0em;
	text-align: left;
	color: var(--social-link);
	padding-top: 60px;
	padding-bottom: 20px;
}

.blog-section-sub p {
	font-size: var(--font-small);
	font-weight: var(--weight-light);
	line-height: var(--line-height-small) !important;
	letter-spacing: var(--letter-spacing-02);
	text-align: left;
	color: var(--social-link);
	padding-bottom: 16px;
}

.blog-section-sub p:nth-child(3) {
	font-weight: var(--weight-bold);
}

.all-post svg {
	width: 20px;
}

.all-post {
	padding-top: 6%;
}

.all-post a {
	font-size: var(--font-small);
	font-weight: var(--weight-semi-bold);
	line-height: var(--line-height-small) !important;
	letter-spacing: var(--letter-spacing-02);
	text-align: left;
	color: var(--button-1);
	display: flex;
	align-items: center;
}

.shere-link ul li {
	display: inline-block;
	padding: 0px 16px 0px 0px;
}

.shere-link h6 {
	font-size: var(--font-x-s-large);
	font-weight: var(--weight-bold);
	line-height: var(--line-height-small-medium);
	letter-spacing: var(--letter-spacing-02);
	text-align: left;
	color: var(--social-link);
	padding-top: 60px;
	padding-bottom: 15px;
}

.left-bar-image {
	background-position: center;
	background: url('/images/Blogs/img.jpg') no-repeat center;
	background-size: cover;
	padding: 16px 24px;
	border: 1px solid rgb(249,242,239);
	border-radius: 8px;
	width: 300px;
	margin-top: 22%;
}

.left-bar-image h6 {
	font-size: var(--font-large);
	font-weight: var(--weight-bold);
	line-height: 31px;
	letter-spacing: var(--letter-spacing-02);
	text-align: left;
	color: rgba(9, 63, 56, 1);
}

.left-bar-image p {
	font-size: var(--font-large);
	font-weight: var(--weight-medium);
	line-height: var(--line-height-small-medium);
	letter-spacing: var(--letter-spacing-02);
	text-align: left;
	color: rgba(79, 79, 79, 1);
	padding-bottom: 50px;
}

span.border.border-radius-1.banner-arrow-btn {
	border-radius: 6px;
	display: flex;
}

.related-resources h2 {
	font-size: var(--font-smaller);
	font-weight: var(--weight-bold);
	line-height: var(--line-height-large);
	letter-spacing: 0em;
	text-align: left;
	color: rgba(9, 63, 56, 1);
	padding: 6% 0px;
}

.blog-all-btn {
	width: 145px;
	background: transparent;
	border: 1px solid var(--boysenberry);
	color: var(--boysenberry);
	float: right;
}

span.border.border-radius-1.banner-arrow-btn.border-color {
	border: 1px solid var(--boysenberry) !important;
}

@media (max-width: 991px) {
	.text-left-line.text-start h1 {
		font-size: var(--font-xxx-large);
		line-height: 48px;
		padding-bottom: 35px;
	}

	.blog-section-heading h2 {
		font-size: var(--font-xx-large);
		line-height: 38px;
	}
}

@media (min-width: 768px) {
	.connect-with-lawyes {
		background-position: center;
		background: url('/images/Blogs/bg.jpg') no-repeat center;
		background-size: cover;
		padding: 16px 24px;
		border-radius: 8px;
		display: block;
	}
}

@media (max-width: 767px) {
	.connect-with-lawyes {
		background: url('/images/Blogs/img1.png') no-repeat center;
		background-size: cover;
		padding: 16px 24px;
		border-radius: 8px;
		display: block;
		background-position: revert;
		position: relative;
		z-index: 1;
	}

	.connect-with-lawyes::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: var(--text-white);
		opacity: 0.8;
		z-index: -1;
	}

	.btn-commn.bg-color {
		background-color: var(--button-1);
		width: 100%;
	}

	.connect-title h4 {
		font-size: var(--font-x-s-large);
		line-height: 30px;
	}

	.blog-section-sub h3 {
		font-size: var(--font-x-large);
		line-height: 31px;
	}

	.left-bar-image {
		margin-top: 15%;
	}

	.related-resources h2 {
		font-size: var(--font-xx-large);
		line-height: 38px;
		padding: 20% 0px 6% 0px;
	}

	.blog-all-btn {
		width: 100%;
		margin-bottom: 20%;
	}

	.blog-text-all {
		padding-top: 30px;
	}
}

.sticky-profile {
	position: fixed;
	top: 0;
	width: 300px;
}

i.fa-brands.fa-x-twitter {
	color: #c49073;
	border: 2px solid #c49073;
	padding: 1px;
	border-radius: 6px;
	font-size: 15px;
	margin-top: 10px;
}

@media (max-width: 991px) {
	.sticky-profile {
		position: unset;
		width: 300px;
		margin-top: 3%;
	}
	.connect-with-lawyes-popup {
		padding: 16px 15px !important;
	}
}

/* .connect-with-lawyes-popup {
	background-position: center;
	background: url('/images/Group39896.png') no-repeat center;
	background-size: cover;
	padding: 16px 24px;
	border-radius: 8px;
	display: block;
	padding: 101px 170px;
	background-position: center;
	text-align: center;
	z-index: 2;
	position: relative;
} */
.connect-with-lawyes-popup {
	padding: 16px 24px;
	border-radius: 8px;
	display: block;

	background-position: center;
	text-align: center;
	z-index: 2;
	position: relative;
}
.blog-popup-fix .modal-content {
	background-position: center;
	background: url('/images/Group39896.png') no-repeat center;
	padding: 100px 25px;
	border: none !important;
}

.blog-popup-fix .modal-lg,
.modal-xl {
	width: 560px !important;
}

.blog-popup-fix button.btn-close {
	border: 1px solid var(--text-sonic-silver);
	color: var(--text-sonic-silver);
	width: 8px;
	height: 8px;
	font-size: 8px;
	position: absolute;
	right: 15px;
	top: 50px;
	padding: 5px !important;
	z-index: 9999;
	background: url('/images/close-wht-square.png') no-repeat center;
}
/* .connect-with-lawyes-popup::before {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.5; 
	background-color: #c49073; 
	border-radius: 8px; 
} */
.blog-popup-fix.modal .modal-header {
	padding: 0px !important;
}
.blog-popup-fix.modal .modal-footer {
	padding: 0px !important;
}
.blog-popup-fix.modal .modal-body {
	padding: 0px !important;
}

/*  */
.need-advice-txt {
	font-size: 40px !important;
	font-weight: 700 !important;
	line-height: 52px !important;
}
.blog-popup-fix button.btn-close {
	opacity: 1;
	width: 20px;
	height: 20px;
	right: 30px;
	top: 62px;
	border: none;
}
@media (max-width: 767px) {
	.blog-popup-fix .modal-lg,
	.modal-xl {
		width: 100% !important;
		padding: 0 16px;
		margin: 0 auto;
	}
	.need-advice-txt {
		font-size: 24px !important;
		line-height: 31px !important;
	}
	.pop-dis {
		font-size: 18px !important;
		line-height: 28px !important;
	}
	.m-w-full {
		width: 100%;
	}
	.blog-popup-fix .modal-content {
		border-radius: 16px !important;
		background-size: cover;
		background-image: url(/images/m-image.png);
		padding: 35px 20px;
	}
	.blog-popup-fix button.btn-close {
		right: 25px;
		top: 25px;
	}
}
