.top-border {
	border-top: 1px solid #cccccc99;
}

/* active tab css  */

.has-search .form-control {
	padding-left: 2.375rem;
	height: 48px;
}

.has-search .form-control-feedback {
	position: absolute;
	z-index: 2;
	display: block;
	width: 25px;
	height: 50px;
	line-height: 2.375rem;
	text-align: center;
	pointer-events: none;
	margin-left: 6px;
}

.form-select {
	height: 48px;
}

.table-action-button {
	background: #be836314;
	padding: 0px 5px;
	margin-right: 2px;
}

.active-lawyers-table thead tr th {
	background-color: var(--green-dark);
	color: var(--text-white);
	font-size: var(--font-small);
	font-weight: var(--weight-bold);
}

.active-lawyers-table thead {
	height: 58px;
	vertical-align: middle;
}

.table-heading span {
	font-size: var(--font-small);
	font-weight: var(--weight-bold);
	line-height: var(--line-height-small);
	color: var(--green-dark);
}

.table-heading {
	font-size: var(--font-small);
	font-weight: var(--weight-light);
	line-height: var(--line-height-small);
	color: #000;
}

.active-lawyers-table tbody tr {
	height: 80px;
	vertical-align: middle;
}

.active-lawyers-table {
	border: 1px solid var(--green-dark);
}

.active-lawyers-table tbody tr {
	border-bottom: var(--green-dark);
}

.active-lawyers-table tbody tr td {
	font-size: var(--font-small);
	font-weight: var(--weight-light);
	color: var(--social-link);
	vertical-align: middle;
}

.active-lawyers-table tbody tr td p {
	font-size: var(--font-x-small);
	font-weight: var(--weight-light);
	color: #1f1f1f !important;
}

.active-lawyers-table tbody tr td h6 {
	font-weight: var(--weight-medium);
	color: var(--social-link);
}

.plan-btn {
	color: var(--green-medium-2);
	background-color: #c49073;
}

.table-status-btn {
	padding: 1px 5px;
	border-radius: 10px;
	font-size: var(--font-x-small);
	font-weight: var(--weight-semi-bold);
}

.warning {
	color: #f79e1b;
	background-color: #ffac331f;
}

.danger {
	color: #d04e4f;
	background-color: #d04e4f1f;
}

.text-primary {
	color: #02142d !important;
	font-weight: 700 !important;
	font-size: 14px !important;
}
