.select-input {
	position: relative;
	width: 100%;
}

.options-list-container {
	position: absolute;
	width: 100%;
	max-height: 150px;
	overflow-y: auto;
	border: 1px solid #ccc;
	border-top: none;
	border-radius: 0 0 4px 4px;
	z-index: 1;
}

.options-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.options-list li {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
}

.options-list li:hover {
	background-color: #f2f2f2;
}

.selected-options {
	margin-top: 10px;
}

.selected-option {
	display: inline-block;
	padding: 5px 10px;
	margin: 5px;
	background-color: #f2f2f2;
	border-radius: 4px;
}

.selected-option .remove-spcl {
	/* margin-left: 5px; */
	color: #ff5c5c;
	border: none;
	cursor: pointer;
}

.remove-spcl {
	border: none;
	cursor: pointer;
}
img.img-set {
	width: 32px;
}

/* Style for the remove button on hover */
.selected-option button:hover {
	background-color: #ff3333;
}

.options-list {
	max-height: 150px;
	overflow-y: auto;
	border: 1px solid #ccc;
	padding: 5px;
}
.form-fild-des.class-add-checkbox input.active {
	width: 28px;
	height: 28px;
}

.fafa_eye_add {
	top: 50px;
	right: 20px;
	cursor: pointer;
}
