.no-global-h2 {
	text-align: center;
	color: #000 !important;
	font-size: 40px;
	font-weight: 700;
	margin-top: 5px;
}

/* Responsive adjustments for mobile */
@media (max-width: 768px) {
	.responsive-heading {
		font-size: 28px !important;
		line-height: 1.3;
	}
}

@media (max-width: 480px) {
	.responsive-heading {
		font-size: 28px !important;
		line-height: 1.2;
		padding: 0 0px;
	}
}
